log/*.log
log/*.log.*
log/*.pid
log/**/*
sample-emails/**
tmp
public/uploads/**/*
public/stylesheets/*.css
public/javascripts/*_all.js
config/database.yml
config/s3_config.yml
config/backup_fu.yml
db/*.sqlite3
db/sphinx
**/.DS_Store
.DS_Store
.devver
*~
**/*~
public/*/cache/*
*.tmproj
*.swp
*.swo
.bundle/config
generator.rb
.redcar/tags
db/development.sqlite3
.rvmrc
.idea
public/javascripts/compiled/
