#a
  %header
    %a{:href => "/", :title => "Startseite"}
      %strong Backbone.js
      \- light JS MVC
  #b
    %article
      %h1 Super JS blog
      %h2
        It`s simple demo of backbone.js relesed by
        %a{:href => "http://documentcloud.github.com/backbone/"} Document Cloud.
        %br Project is a part of presenattion for RuPy Tuesday Poznań.

      #commentsContener
        
      %form{:action => "#"}
        %label Author
        %input{:name => "#", :type => "text"}
          %label Title
          %input{:name => "#", :type => "text"}
            %label Body
            %textarea
            %br
              %input#submit.button{:type => "submit"}
    %aside
      %h4 Search
      %form.s{:action => "#"}
        %input{:name => "search", :type => "text", :value => "Type term and hit enter..."}
      %h4 Template
      #c
        %p
          Template Design & Markup by
          %a{:href => "http://www.jabz.info/contact/jonas-jared-jacek/", :title => "Profile of Jonas Jacek"} Jonas Jacek
          for
          = succeed "." do
            %a{:href => "http://www.owmx.com/", :title => "Free HTML5 & CSS3 Web Template | owmx.com"} Free HTML5 & CSS3 Web Templates
  %footer
    %p
      Template Design & Markup by
      %a{:href => "http://www.jabz.info/contact/jonas-jared-jacek/", :title => "Profile of Jonas Jacek"} Jonas Jacek
      for
      = succeed "." do
        %a{:href => "http://www.owmx.com/", :title => "Free HTML5 & CSS3 Web Template | owmx.com"} Free HTML5 & CSS3 Web Templates

%script#commentTemplate{:type => 'text/x-jquery-tmpl'}
  %h3 ${comment.title}
  %p ${comment.body}
  %section.meta
    %p
      Author: ${comment.author}
      | Date: ${comment.created_at}


:javascript
  Comments.refresh(#{@comments.to_json});
  console.log(Comments);
  data = #{@comments.to_json}