!!!
%html
  %head
    %title
      Backbone.js - DEMO
    = stylesheet_link_tag 'vendor/a', 'application'
    = javascript_include_tag 'vendor/jquery-1.5.min', 'vendor/rails', 'vendor/underscore-min', 'vendor/backbone-min', 'vendor/backbone.rails', 'application'
    = csrf_meta_tag

%body
  = yield
